/* Header */
header {
  position: relative;
  width: 100%;
  height: 80px;

  background: #ffffff;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}

/* 쇼핑몰 이름 */
.title {
  position: absolute;
  left: 10%;
  right: 70.86%;
  top: 31.48%;
  bottom: 31.48%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 88.02%;
  /* or 28px */
  display: flex;
  align-items: center;

  color: #000000;
}

/* 햄버거 버튼 */
.burger {
  position: absolute;
  width: 100px;
  height: 40px;

  right: 6%;
  left: 88%;
  top: 31.25%;
  bottom: 31.25%;
}

.menuIcon {
  position: absolute;
  width: 50px;
  height: 40px;

  /* right: 5%;
  left: 90%;
  top: 31.25%;
  bottom: 31.25%; */
}

.dropDownMenu {
  position: absolute;
  z-index: 1;

  left: -75%;
  top: 80%;

  width: 200px;
  height: 172px;
}

/* 로고 */
img {
  position: absolute;
  width: 55px;
  height: 30px;
  top: 25px;
  left: 76px;

  left: 5%;
  right: 89.77%;
  top: 31.25%;
  bottom: 31.25%;
}
